@charset "UTF-8";
/* 브라우저 스타일초기화  */
*{
  /* *는 모든 마크업 태그*/
  /* 밖 여백 */
  margin:0;
  /* 안쪽 여백*/
  padding:0; /* 줄높이,줄간격 */
  line-height: 1;
}
html,body{
  height: 100%;
}
.hide{
  display: none;
}
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
  color:#000;
  font-weight:normal; /* 글자두께는 노말하게 */
}
ul,ol{
  list-style: none; /* 점표시나 번호없애기 */
}
a{
  text-decoration: none; /* 밑줄없애기 */
  color: #000;
}
li{
  list-style: none;
}
